{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI Plant Store",
    "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.anaphero.com/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "description": "Returns the health status of the API",
        "responses": {
          "200": {
            "description": "API is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/task-definition": {
      "get": {
        "description": "Returns all task definitions available to your organization",
        "responses": {
          "200": {
            "description": "Task definition",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TaskDefinition"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/task-definition-single/{taskId}": {
      "get": {
        "description": "Returns all task definitions available to your organization",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "description": "ID of the task you wish to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task definition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskDefinition"
                }
              }
            }
          }
        }
      }
    },
    "/call": {
      "get": {
        "description": "Returns all calls available to your organization",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to return. Defaults to 100, maximum is 1000.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "createdAtGe",
            "in": "query",
            "description": "Filter calls created on or after this date (ISO 8601 format)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createdAtLe",
            "in": "query",
            "description": "Filter calls created on or before this date (ISO 8601 format)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List Calls",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Call"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create new call",
        "requestBody": {
          "description": "Call to add to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCall"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Call response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Call"
                }
              }
            }
          }
        }
      }
    },
    "/call/{callId}": {
      "get": {
        "description": "Returns a single call based on the callId supplied",
        "parameters": [
          {
            "name": "callId",
            "in": "path",
            "description": "ID of call to return",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Call response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Call"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Deletes a single call based on the callId supplied",
        "parameters": [
          {
            "name": "callId",
            "in": "path",
            "description": "ID of call to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Call deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Call"
                }
              }
            }
          }
        }
      }
    },
    "/workflow/inbound-referral": {
      "post": {
        "description": "Create a new inbound referral",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "workflowDefinitionId": {
                    "type": "integer"
                  },
                  "documentUrl": {
                    "type": "string"
                  },
                  "referringProvider": {
                    "type": "string"
                  },
                  "referralReason": {
                    "type": "string"
                  },
                  "referralType": {
                    "type": "string",
                    "enum": ["pulmonology", "sleep"]
                  },
                  "referredToLocationId": {
                    "type": "string"
                  },
                  "referredToProviderId": {
                    "type": "string"
                  },
                  "patientData": {
                    "type": "object",
                    "properties": {
                      "mrn": {
                        "type": "string"
                      },
                      "sex": {
                        "type": "string",
                        "enum": ["male", "female", "other"]
                      },
                      "firstName": {
                        "type": "string"
                      },
                      "lastName": {
                        "type": "string"
                      },
                      "dob": {
                        "type": "string"
                      },
                      "cellNumber": {
                        "type": "string"
                      },
                      "homeNumber": {
                        "type": "string",
                        "nullable": true
                      },
                      "email": {
                        "type": "string"
                      },
                      "insuranceName": {
                        "type": "string",
                        "nullable": true
                      },
                      "insuranceSubscriberName": {
                        "type": "string",
                        "nullable": true
                      },
                      "insuranceSequence": {
                        "type": "string",
                        "enum": ["primary", "secondary", "tertiary"],
                        "nullable": true
                      }
                    },
                    "required": [
                      "mrn",
                      "sex",
                      "firstName",
                      "lastName",
                      "dob",
                      "cellNumber",
                      "email"
                    ]
                  }
                },
                "required": [
                  "workflowDefinitionId",
                  "documentUrl",
                  "referringProvider",
                  "referralReason",
                  "referralType",
                  "referredToLocationId",
                  "referredToProviderId",
                  "patientData"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Inbound referral created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/phone-number": {
      "get": {
        "description": "Returns all phone numbers available to your organization",
        "parameters": [
          {
            "name": "number",
            "in": "query",
            "description": "The phone number to filter by",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Phone number",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PhoneNumber"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/plants": {
      "get": {
        "description": "Returns all plants from the system that the user has access to",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Plant response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Plant"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates a new plant in the store",
        "requestBody": {
          "description": "Plant to add to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPlant"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "plant response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Plant"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/plants/{id}": {
      "delete": {
        "description": "Deletes a single plant based on the ID supplied",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of plant to delete",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Plant deleted",
            "content": {}
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PhoneNumber": {
        "required": ["phoneNumberId", "number", "telephonyProvider"],
        "type": "object",
        "properties": {
          "phoneNumberId": {
            "description": "The unique id for the phone number",
            "type": "string"
          },
          "number": {
            "description": "The phone number with country code",
            "type": "string"
          },
          "telephonyProvider": {
            "description": "The telephony provider for the phone number",
            "type": "string"
          }
        }
      },
      "TaskDefinition": {
        "type": "object",
        "properties": {
          "taskId": {
            "description": "The unique id for the task definition",
            "type": "string"
          },
          "taskName": {
            "description": "The human-friendly name of the task",
            "type": "string"
          },
          "taskDescription": {
            "description": "The description of the task and what it does",
            "type": "string"
          },
          "taskParameters": {
            "description": "The parameters that will be passed to the task. Each task has its own parameters that help customze the task's execution",
            "type": "object"
          },
          "maxDuration": {
            "description": "The maximum duration in seconds that the task can run for",
            "type": "integer"
          },
          "transcriber": {
            "description": "The transcriber configuration used for this task definition",
            "type": "object"
          },
          "voice": {
            "description": "The voice configuration used for this task definition",
            "type": "object"
          },
          "languageModel": {
            "description": "The language model configuration for this task definition",
            "type": "object"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time the task definition was created"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time the task definition was last updated"
          }
        }
      },
      "CreateCall": {
        "required": ["taskId", "destinationNumberId"],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the call for your own reference",
            "type": "string",
            "maxLength": 50
          },
          "assistantId": {
            "description": "The id of the assistant to use for the call",
            "type": "string"
          },
          "sourcePhoneNumberId": {
            "description": "The phoneNumberId of the phone number that will be used to make the call",
            "type": "string"
          },
          "destinationPhoneNumber": {
            "description": "The phoneNumberId of the number you would like to call",
            "type": "string"
          },
          "taskParameters": {
            "description": "Any override setting you would like to pass into the assistant configuration.",
            "type": "object"
          },
          "scheduledDatetime": {
            "description": "The date and time the call should be made. Leave blank to queue the call immediately",
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Call": {
        "type": "object",
        "properties": {
          "id": {
            "description": "The unique id for the call",
            "type": "integer"
          },
          "started_at": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time the call was started",
            "nullable": true
          },
          "ended_at": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time the call ended",
            "nullable": true
          },
          "call_status": {
            "type": "string",
            "description": "The status of the call"
          },
          "ended_reason": {
            "type": "string",
            "description": "The reason why the call ended",
            "nullable": true
          },
          "transcript": {
            "type": "string",
            "description": "The transcript of the call",
            "nullable": true
          },
          "source_number": {
            "type": "string",
            "description": "The phone number that initiated the call",
            "nullable": true
          },
          "destination_number": {
            "type": "string",
            "description": "The phone number that received the call",
            "nullable": true
          },
          "call_type": {
            "type": "string",
            "description": "The type of call"
          },
          "messages": {
            "type": "object",
            "description": "Any messages associated with the call",
            "nullable": true
          },
          "duration_ms": {
            "type": "integer",
            "description": "The duration of the call in milliseconds",
            "nullable": true
          },
          "analysis": {
            "type": "object",
            "description": "Any analysis performed on the call",
            "nullable": true
          }
        }
      },
      "Plant": {
        "required": ["name"],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the plant",
            "type": "string"
          },
          "tag": {
            "description": "Tag to specify the type",
            "type": "string"
          }
        }
      },
      "NewPlant": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Plant"
          },
          {
            "required": ["id"],
            "type": "object",
            "properties": {
              "id": {
                "description": "Identification number of the plant",
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ]
      },
      "Error": {
        "required": ["error", "message"],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
